@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,100;1,400;1,500&display=swap');

:root {
    --cor-principal: #151515;
    --cor-secundaria: #ffffff;

    --fonte-principal: 'Roboto', sans-serif;

    --max-width-info: 700px;
}

body {
    display: flex;
    align-items: center;
    padding: 2em 10px;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    background: var(--cor-principal);
    gap: 1em;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    gap: 1em;
    margin-top: 5em;
    margin-bottom: 1em;
}

.main__section__logo {
    width: 100vw;
}

.main__section__logo__div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 100vw;
}

.main__section__logo__div img{
    max-width: 200px;
    max-height: 300px;
}

.main__section__logo__div__versiculo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.main__section__logo__div__versiculo p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.3em;
    font-family: var(--fonte-principal);
    font-weight: 100;
    font-style: oblique;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    text-align: center;
    color: var(--cor-secundaria);
    width: 50vw;
    max-width: var(--max-width-info);

}

.main__section__info {
    width: 100vw;
}

.main__section__info__div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
}

.main__section__info__div__dados{
    height: 0px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main__section__info__a {
    border-style: solid;
    border-color: var(--cor-secundaria);
    font-size: 2em;
    font-family: var(--fonte-principal);
    font-weight: 400;
    width: 50vw;
    max-width: var(--max-width-info);
    text-align: center;
    text-decoration: none;
    padding: 1em;
    color: var(--cor-secundaria);
    border: 0.2em solid var(--cor-secundaria);
    gap: 1em;
    margin: 1em;
    cursor: pointer;
}

.main__section__info__a:hover {
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
}


.main__section__info__div strong {
    font-size: 1.5em;
    font-style: oblique;
    font-weight: 400;
}

.main__section__info__div p {
    font-size: 1.3em;
    font-family: var(--fonte-principal);
    font-weight: 100;
    font-style: oblique;
    line-height: 1.4em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
    color: var(--cor-secundaria);
    width: 50vw;
    max-width: var(--max-width-info);
}

.main__section__info__div__lider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: var(--max-width-info);
    gap: 2em;
    margin: 1em;
}

.main__section__info__div__lider__foto {
    border-radius: 50%;
    border: 0.2em solid var(--cor-secundaria);
    max-width: 150px;
    max-height: 150px;
}

.main__section__info__div__lider__contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1em;
}

.main__section__info__div__lider__contato h2{
    font-size: 4em;
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
}

.main__section__info__div__lider__whats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.main__section__info__div__lider__whats img{
    max-width: 20px;
    max-height: 20px;
}

.main__section__info__div__lider__whats a{
    font-size: 1em;
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-weight: 400;
    font-style: oblique;
    line-height: 1.4em;
}

/*  */

.main__section__calendario__info {
    height: 0px;
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    font-style: normal;
    font-family: var(--fonte-principal);
}

.main__section__calendario__card {
    max-width: 700px;
    width: 50vw;
    min-height: 5vh;
    background: var(--cor-secundaria);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    padding: 1.5em;
}

.main__section__calendario__card header {
    display: flex;
    align-items: center;
    padding: 5%;
    justify-content: space-between;
}

header .calendario__icones {
    display: flex;
}

header .calendario__icones span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

header .calendario__icones span:hover {
    color: var(--cor-principal);
}

.calendario__icones span:last-child {
    margin-right: -10px;
}

header .calendario__icones span:hover {
    background: #f2f2f2;
}

header .calendario__data_atual {
    font-size: 2.50rem;
    font-weight: 500;
    font-style: normal;
    font-family: var(--fonte-principal);
    color: var(--cor-principal);
}

.calendario__datas {
    padding: 1em;
}

.calendario__datas ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendario__datas .dias {
    margin-bottom: 20px;
}

.calendario__datas li {
    color: var(--cor-principal);
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendario__datas .semanas li {
    font-weight: 500;
    font-style: normal;
    font-family: var(--fonte-principal);
    cursor: default;
}

.calendario__datas .dias li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 2.5em;
}

/* inactive */

.dias li.inactive {
    color: #aaa;
}

/* tem-programacao */

.dias li.tem-programacao {
    color: var(--cor-principal);
}

.dias li.tem-programacao::before {
    border-style: dotted;
    border-color: var(--cor-principal);
}

.dias li.tem-programacao:hover {
    color: var(--cor-secundaria);
}

.dias li.tem-programacao:hover::before {
    background: var(--cor-principal);
}

/* active */

.dias li.active {
    color: var(--cor-secundaria);
}

.dias li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dias li.active::before {
    background: var(--cor-principal);
    color: var(--cor-principal);
}

/**/

.dias li:not(.active, .tem-programacao):hover::before {
    background: var(--cor-secundaria);
}

.main__section__calendario__programacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 100vw;
    gap: 2em;
}

.main__section__calendario__programacao__card {
    max-width: 700px;
    width: 50vw;
    min-height: 5vh;
    background: var(--cor-secundaria);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.5em;
    gap: 1em;
}

.main__section__calendario__programacao__card__titulo {
    font-size: 2em;
    font-weight: bold;
}

.main__section__calendario__programacao__card__ul {
    list-style-type: none;
    padding: none !important;
}

.main__section__calendario__programacao__card__ul__li p {
    width: auto;
    font-style: normal;
    font-size: 1.5em;
    margin: none;
    color: var(--cor-principal);
}

.main__section__calendario__programacao__card__ul__li strong {
    font-style: normal;
    font-size: 1em;
    font-weight: 400;
}

.main__section__calendario__programacao__card__p {
    font-style: italic;
    font-weight: 500 !important;
    color: var(--cor-principal) !important;
}

/*  */

.main__section__pibitaim {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    max-width: 750px;
    height: 0px;
    visibility: hidden;
}

.main__section__pibitaim__redes_sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
    max-width: 750px;
}

.main__section__pibitaim__redes_sociais img {
    max-width: 50px;
    max-height: 50px;
}

.main__section__pibitaim strong{
    font-size: 1em;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.main__section__pibitaim p{
    font-size: 1em;
    font-weight: 200;
    font-style: oblique;
    margin: 1em;
}

.main__section__pibitaim a{
    font-size: 1em;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.main__section__pibitaim iframe{
    max-width: 750px;
    width: 50vw;
    height: 50vh;
}

/*  */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.footer__redes_sociais {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__redes_sociais__instagram a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 1em;
    font-family: var(--fonte-principal);
    font-weight: 400;
    color: var(--cor-secundaria);
    font-style: normal;
}

.footer__redes_sociais__instagram img {
    max-width: 30px;
    max-height: 30px;
}

.footer__demais__infos {
    font-size: 1em;
    font-family: var(--fonte-principal);
    font-weight: 100;
    color: var(--cor-secundaria);
    font-style: oblique;
}